
$grey-2-color: #404040;
$grey-1-color: #595959;
$grey-color: #7E7E7E;
$grey1-color: #BFBFBF;
$grey2-color: #DFDFDF;
$grey3-color: #EFEFEF;
$grey4-color: #FAFAFA;
$turquoise-color: #1ED499;
$turquoise1-color: #8EE9CC;
$deepblue-color: #234A69;
$deepblue1-color: #91A4B4;
$deepblue2-color: #C8D1D9;
$deepblue3-color: #E3E8EC;
$deepblue4-color: #F1F3F5;  // this is new
$deepred-color: #821A1A;
$deepred1-color: #91A4B4;
$red-color: #BF1D1D;
$red1-color: #DF8E8E;
$yellow-color: #FFE36E;

//Color schemes

.color-scheme-initial{

  .scheme-primary-color{
    fill:$deepblue2-color;
  }
  .scheme-secondary-color{
    fill:$deepblue3-color;
  }
  .scheme-tertiary-color{
    fill:$deepblue4-color;
  }

  .scheme-primary-color--alt{
    fill:$deepblue1-color;
  }
  .scheme-secondary-color--alt{
    fill:$deepblue2-color;
  }
  .scheme-tertiary-color--alt{
    fill:$deepblue3-color;
  }

}

.color-scheme-deepblue{

  .scheme-primary-color{
    fill:$deepblue-color;
  }
  .scheme-secondary-color{
    fill:$deepblue2-color;
  }
  .scheme-tertiary-color{
    fill:$deepblue4-color;
  }

  .scheme-primary-color--alt{
    fill:$turquoise-color;
  }
  .scheme-secondary-color--alt{
    fill:$turquoise-color;
  }
  .scheme-tertiary-color--alt{
    fill:$turquoise-color;
  }

}
