@import "partials/typography";
@import "partials/chroma";

:root{
    @extend .color-scheme-initial;
}
.div-1{
  // tous les <g> des svg auront une classe de couleur
  // [scheme-primary-color | scheme-secondary-color | scheme-tertiary-color]
}

.div-2{
  .scheme-primary-color{
    fill:pink;
  }
}

//les "color-scheme-xxx" sont définis dans partials/_chroma.scss
.div-3{
  @extend .color-scheme-deepblue;
}
