.color-scheme-initial .scheme-primary-color, :root .scheme-primary-color {
  fill: #C8D1D9; }
.color-scheme-initial .scheme-secondary-color, :root .scheme-secondary-color {
  fill: #E3E8EC; }
.color-scheme-initial .scheme-tertiary-color, :root .scheme-tertiary-color {
  fill: #F1F3F5; }
.color-scheme-initial .scheme-primary-color--alt, :root .scheme-primary-color--alt {
  fill: #91A4B4; }
.color-scheme-initial .scheme-secondary-color--alt, :root .scheme-secondary-color--alt {
  fill: #C8D1D9; }
.color-scheme-initial .scheme-tertiary-color--alt, :root .scheme-tertiary-color--alt {
  fill: #E3E8EC; }

.color-scheme-deepblue .scheme-primary-color, .div-3 .scheme-primary-color {
  fill: #234A69; }
.color-scheme-deepblue .scheme-secondary-color, .div-3 .scheme-secondary-color {
  fill: #C8D1D9; }
.color-scheme-deepblue .scheme-tertiary-color, .div-3 .scheme-tertiary-color {
  fill: #F1F3F5; }
.color-scheme-deepblue .scheme-primary-color--alt, .div-3 .scheme-primary-color--alt {
  fill: #1ED499; }
.color-scheme-deepblue .scheme-secondary-color--alt, .div-3 .scheme-secondary-color--alt {
  fill: #1ED499; }
.color-scheme-deepblue .scheme-tertiary-color--alt, .div-3 .scheme-tertiary-color--alt {
  fill: #1ED499; }

.div-2 .scheme-primary-color {
  fill: pink; }

/*# sourceMappingURL=icon-system.css.map */
